.Tasks__item {
	position: relative;
	width: 100%;
	height: 60px;
	padding: 0 15px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.36);
	border-radius: 35px;
	display: flex;
	align-items: center;
	color: rgba(255, 255, 255, 0.705);
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	font-size: 17px;
	font-weight: 800;
	backdrop-filter: blur(3px);
	transition: all 0.2s;
}
.Tasks__time {
	font-weight: 800;
	font-size: 18px;
	margin-right: 20px;
	color: rgba(188, 187, 255, 0.437);
}
.Tasks__complete {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	padding-bottom: 3px;
	color:rgba(188, 187, 255, 0.437);
	width: 25px;
	height: 25px;
	border: 3px solid rgba(188, 178, 255, 0.634);
	background-color: rgba(106, 116, 255, 0.297);
	border-radius: 50%;
	position: absolute;
	right: 3%;
	transition: all 0.3s;
}
.Tasks__complete:hover {
	border: 3px solid rgba(255, 0, 0, 0.634);
	background-color: rgba(255, 106, 106, 0.297);
	color:rgba(255, 0, 0, 0.634);
}
